<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Home</a>
      <form class="d-flex" role="search">
        <a href="http://localhost:4200/nabvar" class="btn btn-primary">Go Navbar</a>
      </form>
    </div>
  </nav>

<p>Spider-Page! This is a Spider-Man fanpage. Enjoy It.</p>


<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Sinopsis
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Spider-Man No Way Home.</strong> Por primera vez en la historia cinematográfica de Spider-Man la identidad de nuestro héroe de barrio de 17 años es revelada al mundo entero, poniendo en el ojo público su vida y la de sus seres queridos. Las amenazas y caos que persiguen a Spider-Man le cuestan a Peter, MJ y Ned (a los que la prensa apoda como sus cómplices) su entrada en la universidad. Incapaz de quedarse de brazos cruzados viendo cómo les arrebatan su sueño a sus amigos, Peter le pide a Doctor Extraño que restaure su secreto. Doctor Extraño, que lleva sobre los hombros el peso de la decisión que acabó con la vida del mentor de Peter (Tony Stark), es conmovido por su petición y acepta ayudarle.

          Cuando Doctor Extraño empieza a lanzar el hechizo, Peter se da cuenta de que también hará que MJ, Ned, May y Happy olviden que es Spider-Man, por lo que decide cambiar los parámetros para que todo vuelva a ser como antes de que Mysterio revelase su identidad. Es entonces cuando destapa sin darse cuenta la caja de Pandora y empiezan a aparecer personas de todos los universos que conocen su identidad secreta. Doctor Extraño consigue contener el hechizo antes de que un número infinito de visitantes consigan atravesar, pero desafortunadamente para Peter, los que sí lo consiguen son sus enemigos de otros universos. Peter deberá entonces enfrentarse a los peores villanos con los que Spider-Man haya luchado en cada universo mientras intenta proteger su futuro con MJ y Ned. En esta poderosa culminación de la historia original de Peter Parker, veremos cómo los héroes de verdad hacen duros sacrificios diariamente para ayudar a los demás.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Poster
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">No Way Home Oficial Poster</h5>
                      <img src="assets\taran.jpg" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Puedes ver la pelicula aquí!</h5>
                      <p class="card-text">Datos Curiosos: TOM HOLLAND Y JK SIMMONS NUNCA SE CRUZARON EN EL SET.
                        
                      </p>
                      <a href="https://cuevana.biz/pelicula/634649/spider-man-sin-camino-a-casa" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
          
        </div>
      </div>
    </div>
  </div>
